<li class="list-group-item ">
    <div class="row">
        <!-- portada -->
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <img src="{{oferta.imagen}}" class="img-responsive">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 ">
            <div class="row ">
                <!-- titulo -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4><a href="esquemaJuego.html">{{posicion}}: {{oferta.nombre}}</a></h4>
                </div>
            </div>
            <div class="row text-right">
                <!-- precio -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                    <h4>PRECIO: {{oferta.precio}}$</h4>
                </div>
                <!-- boton -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                    <div class="hidden-sm">
                        <button type="button" class="btn btn-info pull-right" (click)="comprarOferta()"><a href="cart.html">Comprar</a></button>
                    </div>
                    <div class="hidden-lg hidden-xs hidden-md">
                        <a [routerLink]="['Cart']"><button type="button" class="btn btn-info pull-right btn-sm" (click)="comprarOferta()">Comprar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
