<div class="row" id="cabecera">
    <!-- margenes -->
    <!-- division entre logo-nombre y botones-->
    <div class="col-xs-12 col-sm-12 col-md-7">
        <!-- logo -->
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <a href="#">
                <img class=" img-responsive" src="../img/logo.png" alt="<CODEGAMING/>" >
            </a>
        </div>
        <!-- nombre app -->
        <div class="col-xs-12 col-sm-12 col-md-8 text-center">
            <h1>&lt;CODEGAMING/&gt;</h1>
        </div>
    </div>
    <!-- division entre logo-nombre y botones-->
    <div class="col-xs-12 col-sm-12 col-md-5 text-center btn-cabecera">
        <!-- idioma -->
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Idioma
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Español</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Inglés</a></li>
                </ul>
            </div>
        </div>
        <!-- buscar -->
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
            <button type="button" class="btn btn-md btn-primary" id="buscar">
                <a href="catalogo.html"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar</a>
            </button>
        </div>
        <!-- cart -->
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
            <button type="button" class="btn btn-primary btn-md">
                <a href="cart.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Carrito</a>
            </button>
        </div>
    </div>
</div>
