<div class="row" id="cabecera">
    <!-- margenes -->
    <!-- division entre logo-nombre y botones-->
    <div class="col-xs-12 col-sm-12 col-md-7">
        <!-- logo -->
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <a [routerLink]="['Main']">
                <img class=" img-responsive" src="../img/logo.png" alt="<CODEGAMING/>" >
            </a>
        </div>
        <!-- nombre app -->
        <div class="col-xs-12 col-sm-12 col-md-8 text-center">
            <h1>&lt;CODEGAMING/&gt;</h1>
        </div>
    </div>
    <!-- division entre logo-nombre y botones-->
    <div class="col-xs-12 col-sm-12 col-md-5 text-center btn-cabecera">
        <!-- idioma -->
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">

            <div class="btn-group" dropdown [(isOpen)]="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" dropdownToggle [disabled]="disabled">
                  Idioma <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a class="dropdown-item" href="#">Español</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Inglés</a></li>
                </ul>
            </div>
        </div>
        <!-- buscar -->
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
            <a  [routerLink]="['Catalogo']">
                <button type="button" class="btn btn-md btn-primary" id="buscar">
                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                </button>
            </a>
        </div>
        <!-- cart -->
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
            <a [routerLink]="['Cart']">
                <button type="button" class="btn btn-primary btn-md">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Carrito
                </button>
            </a>
        </div>
    </div>
</div>
