<div>
    <div class="editarRecomendacion">
        <div class="page-header">
            <h3>Editar recomendacion:</h3>
        </div>
        <br>
        <div class = "row">
          <h3>Titulo: <input type = "text" id = "titulo" [(ngModel)] = "titulo"></h3>
        </div>
        <br/>
        <div class="row">
            <textarea id="arearecomendacion" [(ngModel)] = "descripcion" ></textarea>
        </div>
        <br>
        <div class="row">
            <button class="btn btn-primary pull-right" id="btn-recomendar" (click) = "editarRecomendacion();">Aceptar</button>
        </div>
    </div>
</div>
