<form role="form">
                <div class="row">
                    <!--imagen de perfil y cuentas-->
                    <div class="col-sm-4 col-md-4">
                        <img class="img-responsive" src="{{nusuario.fotoPerfil}}" width="200" height="200" id="fotoperfil">
                        <button type="button" class="btn btn-default" (click)="cambiarFoto()">Cambiar Foto</button>
                        <br/>
                        <!--Cuentas de juego-->
                        <label for="name" id="idsteam">ID Steam:</label>
                        <br/>
                        <input #steam type="text" id="steam" placeholder="CuentaSteam" value="{{nusuario.steam}}"[(ngModel)]="usuarion.steam">
                        <br/>
                        <label for="name">ID BattleNet:</label>
                        <br/>
                        <input #bnet type="text" id="bnet" placeholder="CuentaBNet" value="{{nusuario.bnet}}" [(ngModel)]="usuarion.bnet">
                        <br/>
                    </div>
                    <!--nombre,correo y cambio de contraseña-->
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input #nombre type="name" class="form-control" id="name" value="{{nusuario.nombre}}"  placeholder="Aqui viene el nombre" [(ngModel)]="usuarion.nombre">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electronico:</label>
                            <input #mail type="email" class="form-control" id="email" placeholder="Aqui viene el correo" value="{{nusuario.correo}}" [(ngModel)]="usuarion.correo">
                        </div>
                        <!--Salto de linea-->
                        <br/>
                        <br/>
                        <div class="form-group">
                            <label for="pwd">Contraseña Actual:</label>
                            <span *ngIf="!passCorrecto() && viejaPass!=''" class="glyphicon glyphicon-remove" aria-hidden="true"> La contraseña introducidas no coinciden</span>
                            <span *ngIf="passCorrecto()" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <input  type="password" class="form-control" id="passwordA" placeholder="Introduzca contraseña actual" [(ngModel)]="viejaPass">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Nueva Contraseña:</label>
                            <span *ngIf="!passIguales() && nuevaPassc!=''" class="glyphicon glyphicon-remove" aria-hidden="true"> Las contraseñas introducidas no coinciden</span>
                            <span *ngIf="passIguales() && nuevaPassc!=''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <input type="password" class="form-control" id="NewPassword" placeholder="Introduzca nueva contraseña" [(ngModel)]="nuevaPass" >
                        </div>
                        <div class="form-group">
                            <label for="pwd">Confirmar Contraseña</label>
                            <span *ngIf="!passIguales() && nuevaPass!=''" class="glyphicon glyphicon-remove" aria-hidden="true"> Las contraseñas introducidas no coinciden</span>
                            <span *ngIf="passIguales() && nuevaPass!=''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Repita su nueva contraseña" [(ngModel)]="nuevaPassc">
                        </div>
                    </div>
                    <!--fecha y descripciones-->
                    <div class="col-sm-4 col-md-4">
                        <!--fecha de nacimiento-->
                        <div class="form-group">
                            <label for="date">Fecha de Nacimiento:</label>
                            <input #fecha type="date" class="form-control" id="fechanacimiento" placeholder="Fecha nacimiento" value="{{nusuario.fechaNacimiento}}" [(ngModel)]="usuarion.fechaNacimiento">
                        </div>
                        <!-- descripciones-->
                        <label for="description">Descripción personal:</label>
                        <br>
                        <textarea #descn class="areatext" [(ngModel)]="usuarion.descripcion">{{nusuario.descripcion}}</textarea>
                        <label for="description">Descripción de mentor:</label>
                        <br>
                        <textarea #descm class="areatext" [(ngModel)]="usuarion.descripcionMentor">{{nusuario.descripcionMentor}}</textarea>
                    </div>
                </div>
                <!--boton de guardar cambios-->
                <div class="row">
                    <!--para centrarlo-->
                    <div class="col-sm-5 col-md-5">
                        <br/>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <button type="submit" class="btn btn-default"(click)="cambiarDatos()">GUARDAR CAMBIOS</button>
                    </div>
                </div>
            </form>
