<form role="form">
      <div class="row">
        <alert *ngIf="mostrarAcierto" (close)="noMostrarAlert()" dismissible="true" type="success" dismissOnTimeout="5000">Se han guardado los cambios correctamente</alert>
        <alert *ngIf="mostrarFallo" type="danger" (close)="noMostrarAlert()" dismissible="true" dismissOnTimeout="5000">Introduzca la contraseña actual correcta para verficar el cambio</alert>
      </div>
      <div class="row">
        <!--imagen de perfil y cuentas-->
        <div class="col-sm-4 col-md-4">
            <img class="img-responsive" src="{{nusuario.fotoPerfil}}" width="200" height="200">
            <button type="button" class="btn btn-default" (click)="cambiarFoto()">Cambiar Foto</button>
            <br/>
            <!--Cuentas de juego-->
            <label for="name" id="idsteam" >ID Steam:</label>
            <br/>
            <input  type="text" placeholder="CuentaSteam"[(ngModel)]="steam">
            <br/>
            <label for="name">ID BattleNet:</label>
            <br/>
            <input  type="text"  placeholder="CuentaBNet"  [(ngModel)]="bnet">
            <br/>
        </div>
        <!--nombre,correo y cambio de contraseña-->
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <span *ngIf="!noCogido() && usuario!=''" class="glyphicon glyphicon-remove" aria-hidden="true"> Usuario no disponible</span>
                <span *ngIf="noCogido() && usuario!=''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <input type="name" class="form-control"  placeholder="Aqui viene el nombre" [(ngModel)]="nombre">
            </div>
            <div class="form-group">
                <label for="email">Correo Electronico:</label>
                <input  type="email" class="form-control"  placeholder="Aqui viene el correo" [(ngModel)]="mail">
            </div>
            <!--Salto de linea-->
            <br/>
            <br/>
            <div class="form-group">
                <label for="pwd">Contraseña Actual:</label>
                <input  type="password" class="form-control"  placeholder="Introduzca contraseña actual" [(ngModel)]="viejaPass">
            </div>
            <div class="form-group">
                <label for="pwd">Nueva Contraseña:</label>
                <span *ngIf="!passIguales() && nuevaPassc!=''" class="glyphicon glyphicon-remove" aria-hidden="true"> Las contraseñas introducidas no coinciden</span>
                <span *ngIf="passIguales() && nuevaPassc!=''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <input type="password" class="form-control"  placeholder="Introduzca nueva contraseña" [(ngModel)]="nuevaPass" >
            </div>
            <div class="form-group">
                <label for="pwd">Confirmar Contraseña</label>
                <span *ngIf="!passIguales() && nuevaPass!=''" class="glyphicon glyphicon-remove" aria-hidden="true"> Las contraseñas introducidas no coinciden</span>
                <span *ngIf="passIguales() && nuevaPass!=''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <input type="password" class="form-control" placeholder="Repita su nueva contraseña" [(ngModel)]="nuevaPassc">
            </div>
        </div>
        <!--fecha y descripciones-->
        <div class="col-sm-4 col-md-4">
            <!--fecha de nacimiento-->
            <div class="form-group">
                <label for="date">Fecha de Nacimiento:</label>
                <input type="date" class="form-control" placeholder="Fecha nacimiento"  [(ngModel)]="fecha">
            </div>
            <!-- descripciones-->
            <label for="description">Descripción personal:</label>
            <br>
            <textarea class="areatext" [(ngModel)]="descripcion"></textarea>
            <label for="description">Descripción de mentor:</label>
            <br>
            <textarea class="areatext" [(ngModel)]="descripcionMentor"></textarea>
        </div>
    </div>
    <!--boton de guardar cambios-->
    <div class="row">
        <!--para centrarlo-->
        <div class="col-sm-5 col-md-5">
            <br/>
        </div>
        <div class="col-sm-5 col-md-5">
            <button type="submit"[disabled]="!passIguales()" class="btn btn-default"(click)="cambiarDatos()">GUARDAR CAMBIOS</button>
        </div>
    </div>
</form>
